name: Build Android APK
on:
  push:
    branches: [ main ] # Робот сработает при каждом обновлении кода в ветке main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: |
          mkdir www
          mv index.html www/
          npm install @capacitor/core @capacitor/cli @capacitor/android
          npx cap init "Market IQ" com.alex13alex1.marketiq --web-dir www
          npx cap add android

      - name: Build Android Project
        run: npx cap sync android

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v3
        with:
          name: market-iq-debug-apk
          path: android/app/build/outputs/apk/debug/app-debug.apk
